<?xml version="1.0" encoding="utf-8" ?>
<nlog>
    <targets>
        <!-- Log to a file -->
        <target name="logfile" type="File" fileName="$/Users/18vanenckevorti/RiderProjects/NEA-AI-Game/bin/Debug/net8.0/output.log" deleteOldFileOnStartup="true" />

        <!-- Log to the console -->
        <!-- <target name="logconsole" type="Console" /> -->
    </targets>

    <rules>
        <!-- Log everything (Debug and above) to both file and console -->
        <logger name="*" minlevel="Debug" writeTo="logfile" />
    </rules>
</nlog>
